*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(225, 138, 225);
    background: linear-gradient(270deg , palevioletred, plum);
    height: 100vh;
}

.container{
    max-width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 5px;
}

.image-container{
    background-color: #fff;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.form-container{
    background-color: purple;
    padding: 100px 40px;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
}

.form-container h1, .form-container h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
}

.form-container .form{
    width: 340px;

}

.form-container input{
    font-size: 16px;
    display: block;
    padding: 15px 0px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 20px 0px;
    text-align: center;
    letter-spacing: 2px;
}

.form-container .form input:focus{
    outline: none;
}

.form-container .form input[type="submit"]{
    background-color: #9a7bf2;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.form-container .form input[type="submit"]:hover{
    background-color: palegoldenrod;
}

.popup{
    position:absolute;
    background: rgb(69, 3, 89);
    padding: 50px 100px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 7px -20px rgba(215, 59, 181, 0);
    display: none;
}

.popup .bmi-score{
    width: 100%;
    height: 100%;
    background: pink;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid palevioletred;
    font-size: 23px;
    font-weight: bold;
    color: rgb(81, 81, 237);
    margin: 0 auto;
}

.popup .bmi-text{
    margin: 20px 0px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.popup .close-btn{
    padding: 10px 30px;
    font-size: 15px;
    background: rgb(221, 73, 73);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}